!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : t('.title')
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : t('.description')}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      -# XXX for system messages etc
    %main.container{:role => 'main'}
      = yield
    %footer
      %span.copyright= t('.version', version: APP_VERSION)
